body {
    padding: 10px;
}

.listing-form p {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

.error{
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
  }

.success{
    padding: 20px;
    background-color: #00d67d; /* green */
    color: white;
    margin-bottom: 15px;
  }

.listing-div {
    border: 1px solid lightgray;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
