{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% for listing in listings %}
    <a href="{% url 'listing_page' listing.id %}">
        <div class="listing-div">
            <div class="photo">
                <img src="{{ listing.image_url }}" alt="No image for this listing">
            </div>
            <div>
                <h4>{{listing.title}}</h4>
                <p>{{listing.description}}</p>
                <p>Current price: {{listing.current_price}}</p>
                {% if not  listing.highest_bidder %}
                {% firstof current_price as min %}
                <p>(starting bid)</p>
                {% else %}
                {% firstof current_price|add:"0.1" as min %}
                <p>Highest bidder: {{listing.highest_bidder.username}}</p>
                {% endif %}
            </div>
        </div>
    </a>
    <br>
    {% endfor %}
{% endblock %}