{% extends "auctions/layout.html" %}

{% block body %}
<h2>{{listing.title}}</h2>
<div class="listing-div">
    
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="photo">
        <img src="{{ listing.image_url }}" alt="No image for this listing">
    </div>
    <div>
    <p>{{listing.description}}</p>
    <p>Current price: {{listing.current_price}}</p>
    {% if not  listing.highest_bidder %}
        {% firstof current_price as min %}
        <p>(starting bid)</p>
    {% else %}
        {% firstof current_price|add:"0.1" as min %}
        <p>Highest bidder: {{listing.highest_bidder.username}}</p>
    {% endif %}
    {% if user.is_authenticated %}
        <p><form method="POST" action="{% url 'index' %}">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="bid">
            <label for="bid_amount">Bid Amount:</label>
            <input type="number" id="bid_amount" name="bid_amount" step="0.01" min="{{min}}" required>
            <input type="hidden" name="listing_id" value="{{ listing.id }}">
            <button type="submit">Submit Bid</button>
        </form></p>
        <p><form method="POST" action="{% url 'index' %}">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="add_to_watchlist">
            <input type="hidden" name="listing_id" value="{{ listing.id }}">
            <button type="submit">Add to Watchlist</button>
        </form></p>
        {% endif %}
    </div>
    </div>
    <br>
{% endblock %}