{% extends "auctions/layout.html" %}

{% block body %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
<h2>{{listing.title}}</h2>
<div class="listing-div">
    <div class="photo">
        <img src="{{ listing.image_url }}" alt="No image for this listing">
    </div>
    <div>
    <p>{{listing.description}}</p>
    <p>Current price: {{listing.current_price}}</p>
    <p>Listed by: {{listing.owner}}</p>
    <p>Category: {% if listing.category %}{{listing.category}}{% else %}No category{% endif %}</p>
    {% if not  listing.highest_bidder %}
        {% firstof current_price as min %}
        <p>(starting bid)</p>
    {% else %}
        {% firstof current_price|add:"0.1" as min %}
        <p>Highest bidder: {{listing.highest_bidder.username}}</p>
    {% endif %}
    {% if user.is_authenticated %}
        {% if user.id == listing.owner.id %}
            <p><form method="POST" action="{% url 'listing_page' listing.id %}">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="Close listing">
                <input type="hidden" name="listing_id" value="{{ listing.id }}">
                <button type="submit">Close listing</button>
            </form></p>
        {% else%}
            <p><form method="POST" action="{% url 'listing_page' listing.id%}">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="bid">
                <label for="bid_amount">Bid Amount:</label>
                <input type="number" id="bid_amount" name="bid_amount" step="0.01" min="{{min}}" required>
                <input type="hidden" name="listing_id" value="{{ listing.id }}">
                <button type="submit">Submit Bid</button>
            </form></p>
            {% if not in_watchlist%}
                <p><form method="POST" action="{% url 'listing_page' listing.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="add_to_watchlist">
                    <input type="hidden" name="listing_id" value="{{ listing.id }}">
                    <button type="submit">Add to Watchlist</button>
                </form></p>
            {% else %}
                <p>This item is in your watchlist</p>
                <p><form method="POST" action="{% url 'listing_page' listing.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="remove_from_watchlist">
                    <input type="hidden" name="listing_id" value="{{ listing.id }}">
                    <button type="submit">Remove from Watchlist</button>
                </form></p>
            {% endif %}
        {% endif %}
    {% endif %}

    </div>
    </div>
    <br>
    <h2>Comments</h2>
{% for comment in comments %}
    <div class="comment">
        <p>{{ comment.comment_content }}</p>
        <p>Posted by: {{ comment.owner.username }}</p>
        <p>Posted at: {{ comment.time }}</p>
    </div>
{% empty %}
    <p>No comments yet.</p>
{% endfor %}

<!-- Comment form -->
{% if user.is_authenticated %}
    <h2>Add a Comment</h2>
    <form method="POST" action="{% url 'add_comment' listing.id %}">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Submit</button>
    </form>
{% endif %}
{% endblock %}